<% provide(:title, "Items") %>

<h1>Listing Items</h1>

<table class="item-list">
  <tr>
    <th>Item Name</th>
    <th>Price</th>
    <th><a href="/items/new"><button name="add">Add</button></a></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td>
        <a href="/items/<%= item.id %>/edit"><button name="edit">Edit</button></a>
        <a href="/items/<%= item.id %>" data-method="delete" data-confirm="Are you sure you want to delete <%= item.name %>?"><button name="delete">Delete</button></a>
      </td>
    </tr>
  <% end %>
</table>
